<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar JSON</title>
    <link rel="stylesheet" href="../styles/chatbot.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <div class="container">
        <!-- Menu lateral -->
        <nav class="menu-lateral">
            <ul>
                <li><a href="home.html">Dashboard</a></li>
                <li><a href="#">Upload de Dados</a></li>
                <li><a href="#">Chatbot</a></li>
                <li><a href="#">Relatórios</a></li>
                <li><a href="#">Configurações</a></li>
            </ul>
        </nav>

        <!-- Conteúdo principal -->
        <div class="conteudo">
            <header class="cabecalho">
                <a href="home.html" class="logo">InsightAI</a>
            </header>

            <main class="principal">
                <section class="titleSearch">
                    <h1>Escreva o que deseja saber sobre os seu dados</h1>
                    <div class="searchBox">
                        <input type="text" class="searchJson" placeholder="EX: Quero saber a previsão de vendas para o próximo mês">
                    </div>
                    <div class="paragrafo">
                        <p> O InsightAI pode cometer erros. Considere verificar informações importantes. </p>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>

</body>
</html>