<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Pesquisa</title>
    <link rel="stylesheet" href="../styles/relatorios.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <div class="container">
        <!-- Menu lateral -->
        <aside class="menu-lateral" aria-label="Menu Lateral">
            <nav>
                <ul class="menu-principal">
                    <li><a href="../templates/home.html">Dashboard</a></li>
                    <li><a href="#">Upload de Dados</a></li>
                    <li><a href="../templates/chatbot.html">Chatbot</a></li>
                    <li><a href="../templates/relatorios.html">Relatórios</a></li>
                </ul>
                <ul class="menu-secundario">
                    <li><a href="../templates/configuracoes.html">Configurações</a></li>
                    <li><a href="../templates/index.html">Sobre Nós</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Conteúdo principal -->
        <div class="conteudo">
            <header class="cabecalho">
                <a href="../templates/home.html" class="logo">InsightAI</a>
            </header>

            <main class="principal">
                <div class="titleSearch">
                    <h1>Histórico de Pesquisa da Inteligência Artificial</h1> 
                </div>
                <div  class="searchrelatorio" >
                    <input class="inputsearch"  type="text"placeholder="Busque no histórico...">
                    <button class="sendButton" type="submit">
                        <img src="../assets/imagens/enviar.png" alt="Enviar" class="sendArrow">
                    </button>
                </div>
                

                <section class="report-section">
                    <h2 class="report-title">Relatórios Recentes</h2>
                    <ul class="report-list">
                        <li class="report-item">
                            <h3>Relatório #1</h3>
                            <p>Consulta realizada sobre "Metodologias de IHC". Data: 27/01/2025.</p>
                        </li>
                        <li class="report-item">
                            <h3>Relatório #2</h3>
                            <p>Pesquisa sobre "Técnicas de Prototipação em Papel". Data: 26/01/2025.</p>
                        </li>
                        <li class="report-item">
                            <h3>Relatório #3</h3>
                            <p>Estudo de "Comparação de Métodos de Avaliação". Data: 25/01/2025.</p>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
