@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url(../styles/reset.css);

:root{
    --cor-principal: #000000;
    --cor-secundaria: #ffffff;
    --cor-texto: #000000;
    --fonte-principal: "Montserrat", sans-serif;
    --background-color: #000000;
    --text-color: #FFFFFF;
}

body {
    font-family: var(--fonte-principal);
    display: block;
}

.titleSearch{
    text-align: center;
    margin-top: 35%;
    font-size: 2rem;
}

.searchWrapper {
    position: relative;
    width: 55%;
    margin: 3% auto 0;
}

.searchJson {
    width: 100%;
    padding: 1rem 3rem 1rem 1rem; /* Aumentado o padding à direita */
    font-size: 1rem;
    border: 2px solid var(--cor-principal);
    border-radius: 25px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.sendButton {
    position: absolute;
    right: -50px; /* Ajustado para ficar dentro do input */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sendArrow {
    width: 24px; /* Ajuste conforme necessário */
    height: 24px; /* Ajuste conforme necessário */
}

/* Mostrar o botão quando o input não estiver vazio */
.searchJson:not(:placeholder-shown) + .sendButton {
    opacity: 1;
}

.paragrafo{
    font-size: 0.9rem;
    padding-top: 16%;
}