@import url(../styles/style.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  --background-color: #18181B;
  --text-color: #FFFFFF;
  --fonte-principal: "Montserrat", sans-serif;

  --card-background-color: rgba(255, 255, 255, 0.015);
  --card-border-color: #FFFFFF;
  --card-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1), 0 0 0 1px var(--card-border-color);
  --card-label-color: #FFFFFF;
  --card-icon-bg: #FFFFFF;
  --card-hover-border-color: gray;
  --card-hover-icon-bg: #FFFFFF;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 32px;
  padding: 20px;
}

.card {
  font-family: var(--fonte-principal);
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  padding: 56px 16px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04), 0px 15px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--card-hover-border-color);
}

.card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-color: var(--card-icon-bg);
  border-radius: 50%;
  color: var(--card-icon-color);
  transition: all 0.3s ease;
}

.card:hover .icon {
  color: var(--card-hover-icon-color);
  background-color: var(--card-hover-icon-bg);
}

.card h4 {
  font-family: var(--fonte-principal);
  font-weight: 700;
  margin-top: 20px;
  font-size: 25px;
  color: var(--card-label-color);
  text-align: center;
}

.card p {
  font-weight: 450;
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  line-height: 1.6;
}
